@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-app-bg: var(--background);
  --color-app-text: var(--foreground);
}

:root {
  --background: #ffffff;
  --foreground: #111827;
}

.dark {
  --background: #030712; /* Gray 950 */
  --foreground: #f9fafb; /* Gray 50 */
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.dark ::-webkit-scrollbar {
  width: 10px;
}
.dark ::-webkit-scrollbar-track {
  background: #030712;
}
.dark ::-webkit-scrollbar-thumb {
  background: #1f2937;
  border-radius: 5px;
}

/* Container Logic */
.main-container {
  width: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 576px) {
  .main-container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .main-container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .main-container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .main-container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .main-container {
    max-width: 1320px;
  }
}
